.parent{
   height: 600px; 
   width: 600px;
   background-color: greenyellow;
   padding: 10px 10px 10px 30px;
}

.childcomponent1{
   height: 200px; 
   width: 500px;
   background-color: orange;
   
}
.childcomponent2{
 
   height: 200px; 
   width: 500px;
   background-color:yellow;
}

